{{!-- TODO: --}}


{{!-- Setup the main.handlebars file so it's able to be used by Handlebars. --}}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">

	<link rel="stylesheet" type="text/css" href="/css/style.css" >

	<title>Burger Log</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/burgers.js"></script>
</head>

<body>
	<h1>Burger Log</h1>

	<h3>Record your burger experience</h3>
	{{{ body }}}

	<div class="section">
		<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
		</p>
	</div>

	<form class="form">

		<div class="form-group">
			<input type="text" id="burger" name="name">
		</div>


		<button type="submit">Add Burger</button>
	</form>

</body>

</html>