/* * {
    border: 1px solid white;
} */

body {
    color: yellowgreen;
    background-image: url(/images/blur.png);
}

section {
    font-size: 20px;
    border-radius: 40px;
    color: green;
    background-color: rgba(255,255, 255, 0.7);
    overflow: hidden;
}

img {
    margin-top: 15px;
    height: 40px;
    width: 40px;
}

#burger {
    color: white;
}

#devour {
    width: 90px;
    height: 30px;
}

#delete {
    width: 30px;
    height: 30px;
}

.clear {
    display: flex;
    justify-content: space-around;
}